---
import { render } from "astro:content";
import { formatDate } from "@/lib/utils";
import { readingTime } from "@/lib/utils";
import Layout from "@/layouts/Baselayout.astro";

import { getAllPosts } from "@/lib/blogData";
import { Image } from "astro:assets";

export async function getStaticPaths() {
  const posts = await getAllPosts();

  return posts.map((post) => ({
    params: { id: post.id },
    props: post,
  }));
}

if (Astro.params.id?.startsWith("page")) {
  throw new Error("Page route attempted to match post route");
}

const post = Astro.props;
const currentPostId = Astro.params.id;
console.log("Post ID:", post.id);
const { Content, headings } = await render(post);
---

<Layout title={post.data.title}>
  {
    post.data.image && (
      <Image
        src={post.data.image}
        alt={post.data.title}
        class="col-span-full mx-auto w-full-max-w-5xl object-cover"
        width={1200}
        height={630}
      />
    )
  }
  <h1 class="text-center my-4">{post.data.title}</h1>
  <div class="flex flex-wrap items-center justify-center gap-2 text-xs mb-4">
    <span>{formatDate(post.data.pubDate)}</span>
    <em class="text-gray-500">|</em>
    <span>{readingTime(post.body!)}</span>
  </div>
  <article class="prose prose-newDefault">
    <Content />
  </article>
</Layout>
