---
import { Icon } from "astro-icon/components";
import { cn } from "@/lib/utils";

const { prevUrl, nextUrl, currentPageUrl, current, total } = Astro.props;

const isPrevDisabled = !prevUrl;
const isNextDisabled = !nextUrl;

function getPageUrl(page: number) {
  return page === 1 ? "" : `/${page}`;
}

function getVisiblePages(current: number, total: number) {
  const visiblePages: (number | null)[] = [];

  const ArrayOfPageNumbers = Array.from({ length: total }, (_, i) => i + 1);

  if (total <= 5) {
    return ArrayOfPageNumbers;
  }

  for (let i = 1; i <= total; i++) {
    if (
      i === 1 ||
      i === total ||
      i === current - 1 ||
      i === current + 1 ||
      i === current
    ) {
      visiblePages.push(i);
    } else {
      visiblePages.push(null);
    }
  }

  const result: (number | "...")[] = [];
  let lastWasNull = false;
  for (let page of visiblePages) {
    if (page === null) {
      if (!lastWasNull) {
        result.push("...");
        lastWasNull = true;
      } else {
        continue; // Skip consecutive nulls
      }
    } else {
      result.push(page);
      lastWasNull = false;
    }
  }
  return result;
}

console.log("visiblePages Array:", getVisiblePages(current, total));
---

<nav
  aria-label="Pagination"
  class="flex mx-auto justify-center items-center gap-1 sm:gap-4 mt-4 text-xs"
>
  <a
    href={isPrevDisabled ? "#" : `${prevUrl}`}
    aria-disabled={isPrevDisabled}
    class={cn(
      "flex items-center gap-2 text-primary-text hover:text-hover-text transition-colors duration-300 ease-in-out",
      {
        "cursor-default opacity-50": isPrevDisabled,
        "cursor-pointer": !isPrevDisabled,
      }
    )}
  >
    <Icon name="chevron-left" class:list="inline-block" />
    <span class="hidden sm:inline">Back</span>
  </a>

  {
    getVisiblePages(current, total).map((page) => {
      if (page === "...") {
        return <span class="px-2">...</span>;
      }

      const isActive = current === page;
      const pageUrl = getPageUrl(page);

      return (
        <a
          href={isActive ? `` : `/zoltan-on-software/blog${pageUrl}`}
          aria-disabled={isActive}
          class={cn(
            "px-2 py-1 hover:text-hover-text transition-colors duration-300 ease-in-out rounded-md",
            {
              "border border-primary-text/50 font-medium hover:bg-bg-component hover:border-hover-text":
                isActive,
              "hover:bg-bg-component cursor-pointer": !isActive,
            }
          )}
        >
          <span class="inline">{page}</span>
        </a>
      );
    })
  }

  <a
    href={isNextDisabled ? "#" : `${nextUrl}`}
    aria-disabled={isNextDisabled}
    class={cn(
      "flex items-center gap-2 hover:text-hover-text transition-colors duration-300 ease-in-out",
      {
        "cursor-default opacity-50": isNextDisabled,
        "cursor-pointer": !isNextDisabled,
      }
    )}
  >
    <span class="hidden sm:inline">Next</span>
    <Icon name="chevron-right" class:list="inline-block" />
  </a>
</nav>
