---
import { Icon } from "astro-icon/components";
import { NAV_LINKS, SOCIAL_LINKS } from "@/consts";
import { cn } from "@/lib/utils";

const { currentPath } = Astro.props;
const base = import.meta.env.BASE_URL;
const path = currentPath.replace(base, "");
console.log("Current Path:", currentPath, "Base URL:", base, "Path:", path);
---

<sidebar
  class="mt-2 sidebar md:block sticky top-20 self-start"
  aria-label="Sidebar with Navigation"
  transition:persist
  transition:name="sidebar"
>
  <nav
    class="nav hidden flex-col gap-y-1 grow mb-4 md:flex"
    aria-label="Main Navigation"
  >
    {
      NAV_LINKS.map((link) => {
        return (
          <div class="h-8 items-end w-full text-right">
            <a
              href={`${import.meta.env.BASE_URL}${link.href}`}
              class={cn(
                "block border-b-[0.5px] border-primary-text hover:border-b-1",
            
              )}
            >
              {link.label}
            </a>
          </div>
        );
      })
    }
  </nav>

  <div class="icons flex flex-col grow items-end">
    <div class="items-center flex flex-col gap-y-1">
      {
        SOCIAL_LINKS.map((link) => (
          <a href={link.href} target="_blank" class="h-8">
            <Icon name={link.label} class="icon-item md:text-2xl" />
          </a>
        ))
      }
    </div>    
  </div>
</sidebar>
