---
import { Icon } from "astro-icon/components";
import { NAV_LINKS, SOCIAL_LINKS } from "@/consts";
---

<sidebar class="mt-2 sidebar">
  <nav class="nav flex-col gap-y-1 grow mb-4 hidden md:flex">
    {
      NAV_LINKS.map((link) => (
        <div class="h-8 items-end w-full text-right">
          <a
            href={`${import.meta.env.BASE_URL}${link.href}`}
            class="block border-b-1"
          >
            {link.label}
          </a>
        </div>
      ))
    }
  </nav>

  <div class="icons flex flex-col grow items-end">
    <div class="items-center flex flex-col gap-y-1">
      {
        SOCIAL_LINKS.map((link) => (
          <a href={link.href} target="_blank" class="h-8">
            <Icon name={link.label} class="md:text-2xl" />
          </a>
        ))
      }
    </div>
  </div>
</sidebar>
